

* {
    font-family: 'Bungee', cursive;
}

.menubar {
    background-color: #1e88e5;
    height: 40px;
    padding-left: 2%;
}

.about {
    padding: 2%;
    display: inline;
}

.about a {
    position: relative;
    top: 15%;
    color: #e3f2fd;
}
.contact{
    display: inline;
}
.contact a{
    position: relative;
    top: 15%;
    color: #e3f2fd;
}

.assistants {
    font-size: 25px;
    position: absolute;
    top: 30%;
    left: 33%;
}

.tittle {
    color: #e3f2fd;
    padding-left: 40%;
}

.tittleheader th {
    text-align: center;
}

.name,
.lastname,
.course {
    text-align: center;
}

/*.tlname {
    padding-left: 11%;
}

.lastname {
    text-align: center;
    padding-left: 10%;
}*/

/*.tcourse {
    padding-left: 16%;
}

.course {
    text-align: center;
    padding-left: 15%;
}*/
.edit{
    text-align: center;
}
.delete{
    padding-left: 1%;
    text-align: center;
}
.form input{
    border: none;
    text-align: center;
}
.info{
    text-align: center;
    position: absolute;
    left: 10%;
    top: 40%;
}
.noassistants {
    color: #e3f2fd;
    text-align: center;
    position: absolute;
    top: 37%;
    left: 26%;
    font-size: 25px;
}